<div class="col-xs-8 col-xs-offset-2 new_song">
<h2 class="text-center">Add New Song</h2>

<%= render 'form' %>
</div>

<div class="container-fluid buttons_row">
  <div class="col-xs-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <i class="fa fa-arrow-circle-o-left fa-3x" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="text-center">
      <%= link_to new_song_path do %>
        <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="text-center">
      <%= link_to "All Songs", root_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>
