@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Comfortaa', cursive;
  //background: linear-gradient(to bottom right, #399cdd, #3bddb2); /* Standard syntax */
  height: 100%;
}

.inner_artist, .inner_song {
  margin: 5px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  border-radius: 10px;
}

.inner_song {
  height: 120px;
}

.fa-trash-o {
  padding-top: 10px;
  color: Coral;
}

.fa-circle-go {
  padding-top: 15px;
  color: #279673;
}

.artist_name {
  color: #262626;
  text-decoration: none !important;
}

.artist_images {
  margin-left: 10px;
  width: 80px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #ccc;
}

.image_and_title {
  padding-top: 20px;
}
